body{
    background-color: #E4E4E4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.clickable:hover{
    cursor: pointer;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    height: 100%;
    width: 20%;
    background-color: #26282B;
    color: white;

    position: fixed;
    top: 0;
    left: 0;
}

nav .clickable:hover {
    background-color: #3A3D41;
}

nav li, nav h2, nav i{
    padding: 20px 20%;
}

nav .bars{
    display: none;
}
nav .navbar{
    display: block;
}

section{
    width: 70%;
    margin: 5% 0 0 25%;
}

section h1{
    margin-bottom: 50px;
}

section i{
    float: right;
    margin-left: 20px;
}

section ul li div{
    margin: 15px;
}

.searchbar input{
    width: 90%;
    padding: 0.7rem;
    box-sizing: border-box;
}
.searchbar{
    margin-bottom: 50px;
}

.add{
    width: 100%;
    height: 2em;
}


@media screen and (max-width: 767px) {
    nav{
        width: 100%;
        height: 80px;
    }

    section{
        width: 90%;
        margin: 150px auto;
    }

    nav .bars{
        display: block;
    }
    nav .bars i{
        padding: 0;
        margin-left: 5%;
        margin-top: 25px;
    }
    nav .navbar{
        display: none;
    }
    .searchbar input{
        width: 80%;
    }
}