main{
    width: 70%;
    margin: auto;
}
#featured{
    background-color: #3A3D41;
}
#banner{
    width: 100%;
}
#products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
#products a{
    background-color: white;
    border-radius: 10px;
    width: 20%;
    min-width: 125px;
    aspect-ratio: 3/4;
    margin: 2% 0;
    transition-duration: .3s;
    color: unset;
    text-decoration: none;
}
#products a:hover, #products a:focus{
    background-color: #f2f2f2;
}
@media screen and (max-width: 388px){
    #products a{
        min-width: 100%;
    }
}