main{
    width: 60%;
    margin: 65px auto;
    color: #27292C;
}
.container{
    display: flex;
    gap: 5%;
}
#preview{
    border-radius: 10px;
    width: 40%;
    min-width: 273px;
    height: fit-content;
}
#amount{
    margin-left: 10px;
    height: 30px;
    border: none;
    max-width: 100px;
}
#buy{
    display: block;
    margin-top: 20px;
    border: none;
    background-color: #2EAFBB;
    color: white;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
}
#buy:hover, #buy:focus{
    background-color: #298992;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    min-width: 273px;
}
#stock{
    font-weight: bold;
}
#description{
    font-size: 20px;
    overflow-wrap: break-word;
}
#price{
    margin-top: 0;
}
@media screen and (max-width: 816px){
    .container{
        gap: 30px;
        flex-direction: column;
    }
    #preview, .info{
        width: 100%;
        min-width: 0;
        max-width: 273px;
    }
}