:root{
    --black: #27292C;
    --green: #2EAFBB;
    --green-active: #298992;
    --black-active: #3A3D41;
}

body {
    color: var(--black);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E4E4E4;
    overflow-x: hidden;
}

header, footer, nav{
    color: white;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    transition: .3s;
    text-decoration: none;
    color: unset;
}

i{
    cursor: pointer;
    transition: .3s;
}
i:hover{
    color: var(--green);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

main{
    width: 60%;
    margin: 4rem auto;
}

.container{
    width: 100%;
    background-color: white;
    margin: auto;
    padding: 3rem;
    border-radius: 20px;
    box-sizing: border-box;
}

.product{
    display: flex;
    gap: 2.5rem;
}

label{
    display: inline-block;
    margin: 2rem auto 1rem;
}

input[type="submit"], 
input[type="button"], 
.button{
    background-color: var(--green);
    font-size: 1.2rem;
    padding: 0.7rem;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-top: 2rem;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

input[type="submit"]:hover, 
input[type="button"]:hover, 
.button:hover{
    background-color: var(--green-active);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"], 
input[type="number"], 
input[type="month"],
input[type="url"],
input[type="file"],
input[type="search"],
select{
    padding: 0.7rem;
    box-sizing: border-box;
    width: 100%;
}

.link{
    display: inline-block;
    margin-top: 0.5rem;
    text-decoration: underline;
    color: var(--green);
}

.columns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.left, .right{
    width: 100%;
}

.rows{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alignRight{
    text-align: end;
}

dialog{
    width: 50%;
    min-width: 250px;
    max-width: 500px;
    padding: 4vh 4vw;
    border-radius: 20px;
    border-style: none;
    max-height: 77vh;
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

dialog h1{
    text-align: center;
}

@media screen and (max-width: 1023px) {
    main{
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    main{
        width: 80%;
    }
    .columns, .rows, .product{
        display: block;
    }
    dialog{
        max-width: none;
        width: calc(100% - 8vw);
        margin-bottom: 0px;
        border-radius: 0;
    }
}